.check-page{
  .b-search-call{
    display: none;
  }
  .b-burger{
    background-position: center;
  }

  .b-content__top{
    text-align: center;
  }
}

.b-product__id,
.b-product__date,
.b-product__type{
  float: left;
  vertical-align: top;
  margin-right: 30px;
  line-height: $headerHeight;
  text-align: left;
}
.b-product__date{
  margin-right: 0;
}

.b-product__status{
  height: 46px;
  line-height: 46px;
  border-radius: 23px;
  padding: 0 35px;
  background: #EDEDED;
  display: inline-block;
  vertical-align: top;
  margin: 27px 45px 0;
}

.b-paginator{
  float: right;
  vertical-align: top;
  margin-top: 27px;
  line-height: 46px;
  margin-left: 40px;
  position: relative;
  z-index: 21;

  .b-paginator__link{
    float: left;
    vertical-align: top;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: $linkColor;
    box-shadow: 0 30px 30px rgba(255,65,65, .3);
    transition: transform .25s;
    position: relative;

    &:hover{
      transform: scale(1.1);

      &:before{
        transform: scale(.9);
      }
    }

    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../i/i-paginator-arrow.svg") no-repeat center;
      background-size: 13px auto;
      transition: transform .25s;
    }

    &.b-paginator__link_after{
      &:before{
        transform: rotate(180deg);
      }
      &:hover{
        &:before{
          transform: scale(.9) rotate(180deg);
        }
      }
    }
  }

  .b-paginator__current{
    float: left;
    vertical-align: top;
    width: 90px;
  }
}

.b-product__comment-call{
  float: right;
  vertical-align: top;
  margin-top: 27px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #EDEDED;
  position: relative;
  transition: background .25s, box-shadow .25s;

  &:hover{
    background: $linkColor;
    box-shadow: 0 20px 30px rgba(255,65,65, .3);

    &:before{
      background: url("../i/i-chat_white.svg") no-repeat center 55%;
    }
  }

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../i/i-chat.svg") no-repeat center 55%;
    background-size: 20px auto !important;
  }

  &.active{
    &:after{
      opacity: 1;
    }
  }

  &:after{
    content: "";
    position: absolute;
    top: 100%;
    left: -5px;
    right: -5px;
    margin-top: 23px;
    height: 3px;
    background: $linkColor;
    opacity: 0;
    transition: opacity .25s;
  }
}

.b-document__section,
.b-photos__section,
.b-move__section{
  position: relative;
  margin-top: 45px;

  h2{
    margin-bottom: 25px;
  }

  .b-column__box{
    margin-top: 0;
  }
}

.b-photos__section{
  h2{
    margin-bottom: 20px;
  }
}

.b-column__box{
  position: relative;
  margin-top: 45px;
  max-width: 1200px;

  .b-column{
    float: left;
    vertical-align: top;
    position: relative;

    &.b-column_map{
      max-width: 860px;
    }

    &.b-column_x2{
      width: 48.5%;

      &:first-child{
        margin-right: 3%;
      }
    }

    &.b-column_x3{
      width: 31%;
      margin-right: 3.5%;
    }
    &.b-column_x3_2{
      width: 65.5%;
    }

    &:last-child{
      margin-right: 0 !important;
    }
  }
}

.b-client-info__list{
  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 30px 30px rgba(0,0,0, .05);

  li{
    border-bottom: 1px solid $borderColor;
    padding: 7px 15px;
    white-space: nowrap;

    &:last-child{
      border-bottom: 0;
    }
  }

  .b-client-info__title{
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0,0,0, .2);
  }
}

.b-video-small{
  padding-bottom: 56.79%;
  position: relative;
  background: #2F2F2F;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 30px 40px rgba(0,0,0, .15);
  display: block;

  &:hover{
    .b-video-small__pic{
      transform: scale(1.05);
    }
    .b-video-small__call{
      box-shadow: 0 35px 35px rgba(255,65,65, .3);
    }
  }

  .b-video-small__pic{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .2;
    transition: transform .45s;
  }

  .b-video-small__call{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: $linkColor;
    box-shadow: 0 30px 30px rgba(255,65,65, .3);
    transition: box-shadow .45s;
    text-align: center;

    &:after{
      content: attr(data-letter);
      position: absolute;
      top: 100%;
      color: #fff;
      margin-top: 13px;
      left: 0;
      right: 0;
      white-space: nowrap;
    }

    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../i/i-play-button.svg") no-repeat 56% center;
      background-size: 23px auto;
    }
  }
}

.b-small-map{
  height: 150px * 3;
  padding-bottom: 10%;
  box-sizing: content-box;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 30px 40px rgba(0,0,0, .07);
  max-height: 535px;

  .b-small-map__move{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 23px;
    background: $linkColor;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 14px 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 20px 20px rgba(255,65,65, .3);
  }

  .b-small-map__text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 30px 8px 60px;
    background: #fff;

    &:before{
      content: "";
      position: absolute;
      left: 25px;
      top: 21px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: $linkColor;
      box-shadow: 0 5px 10px rgba(255,65,65, .5);
    }
  }

  .b-map__call{
    position: absolute;
    right: 14px;
    top: 12px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0, .2);
    transition: box-shadow .25s;

    &:hover{
      box-shadow: 0 30px 30px rgba(0,0,0, .3);
    }

    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../i/i-map-call.svg") no-repeat center;
      background-size: 16px auto;
    }
  }

}

.b-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(57,57,57, .9);
  overflow-x: hidden;
  min-width: 1200px;

  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity .25s, visibility .25s 0s;

  &.show{
    visibility: visible;
    opacity: 1;
    transition: opacity .25s, visibility 0s;
  }

  .b-overlay__close{
    position: fixed;
    width: 30px;
    height: 30px;
    right: 23px;
    top: 23px;
    z-index: 101;
    background: url("../i/i-popup-close.svg") no-repeat center;
    background-size: 20px auto;
    transition: transform .25s;

    &:hover{
      transform: scale(1.1);
    }
  }

  &.b-overlay__grey{
    background: #F5F5F5;

    .b-overlay__close{
      background: url("../i/i-popup-close_red.svg") no-repeat center;
      background-size: 20px auto;
    }
  }
}

.b-popup{
  position: relative;
  display: none;

  &.show{
    display: block;
  }
}

.b-popup__top{
  text-align: center;
  color: #fff;
  padding-top: 23px;
  padding-bottom: 23px;

  h3{
    display: inline-block;
    vertical-align: top;
  }
}

.b-video{
  display: block;
  margin: auto;
}

.b-map__wrapper{
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  margin-left: 9px;
}

.b-map{
  position: relative;
  display: inline-block;
  vertical-align: top;

  .b-map__text{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50% , 0);
    background: $linkColor;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 20px 20px rgba(255,65,65, .3);
    line-height: 23px;
    padding: 13px 20px 14px;
    width: 210px;
  }

  .b-map__pic{
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    position: relative;
  }
}

.b-notification{
  position: relative;
  background: #fff;
  box-shadow: 0 30px 40px rgba(0,0,0, .05);
  z-index: 10;
  margin-top: -1px;

  .b-notification__item{
    padding: 20px 57px 20px 54px;
    border-bottom: 1px solid $borderColor;
    position: relative;
    cursor: pointer;

    span{
      padding: 0 6px;
      border-radius: 20px;
      background: $linkColor;
      color: #fff;
      margin: 0 3px;
    }

    &:last-child{
      border-bottom: none;
    }

    &:before{
      content: "";
      position: absolute;
      left: -30px;
      width: 7px;
      height: 7px;
      top: 31px;
      border-radius: 50%;
      background: $linkColor;
    }
  }
}

.b-document__box{
  position: relative;
  margin: -5px;

  &.crash{
    margin: -2.5%;

    .b-document{
      width: 45%;
      margin: 2.5%;
      height: 149px;
    }
  }

  &.evroprotokol{
    .b-document{
      width: 160px;
      height: 214px;
    }
  }

  .b-document{
    float: left;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    width: 94px;
    height: 130px;
    transition: box-shadow .25s;
    cursor: pointer;
    margin: 5px;
    background-position: center;
    background-size: cover;
    position: relative;

    &:hover{
      box-shadow: 0 30px 50px rgba(0,0,0, .2);
    }
  }
}

.b-slider{
  position: relative;

  .b-slider__pic{
    //display: block;
    //vertical-align: top;
    //width: auto;
    //margin: auto;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .slick-arrow{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 0;
    line-height: 0;
    border: none;
    outline: none;
    background: url("../i/i-arrow-slider.svg") no-repeat center;
    background-size: auto 50px;
    cursor: pointer;
    z-index: 100;
    padding: 0;
    transform-origin: center;
    transition: transform .25s;

    &.slick-prev{
      left: 75px;
      transform: translate(0, -50%);

      &:hover{
        transform: translate(0, -50%) scale(1.1);
      }
    }
    &.slick-next{
      right: 75px;
      transform: translate(0, -50%) rotate(180deg);

      &:hover{
        transform: translate(0, -50%) scale(1.1) rotate(180deg);
      }
    }

    &.slick-disabled{
      display: none !important;
    }
  }
  .b-slider__item{
    position: relative;
    outline: none;
  }
}

.b-photos__box{
  position: relative;
  margin: 0 -10px -10px;

  .b-photos-item{
    float: left;
    vertical-align: top;
    width: 195px;
    height: 145px;
    transition: box-shadow .25s;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    position: relative;

    &:hover{
      box-shadow: 0 30px 50px rgba(0,0,0, .2);
    }

    &.reshoot{
      &:hover{
        &:before{
          transform: translate(3px, -3px);
        }
        &:after{
          transform: translate(6px, -6px);
        }
      }

      .b-photos-item__reshoot{
        display: block;
      }
      &:before,
      &:after{
        content: "";
        position: absolute;
        top: -5px;
        left: 5px;
        right: -5px;
        bottom: 5px;
        border-radius: 5px;
        background: #D1D1D1;
        opacity: .7;
        z-index: -1;
        transition: transform .25s;
      }
      &:after{
        top: -10px;
        left: 10px;
        right: -10px;
        bottom: 10px;
        opacity: .45;
      }
    }


    .b-photos-item__reshoot{
      display: none;
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;
      height: 36px;
      line-height: 36px;
      background: $linkColor;
      border-radius: 18px;
      color: #fff;
      text-align: center;
      padding: 0 18px;
      box-shadow: 0 20px 20px rgba(255,65,65, .3);
    }
  }
}

.b-photos__reshoot{
  position: relative;
  margin-top: 25px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 35px;

  .b-photos__reshoot_text{
    span{
      span{
        display: inline-block;
        vertical-align: top;
        background: $linkColor;
        border-radius: 18px;
        padding: 0 13px;
        margin: 0 3px;
        box-shadow: 0 20px 20px rgba(255,65,65, .3);
      }
    }
  }
}

.b-photos__reshoot-pic{
  display: block;
  margin: 25px auto 0;
}

.b-popup__photos{
  padding-bottom: 60px;
}

.b-photos__rotate{
  position: absolute;
  left: 23px;
  top: 23px;
  width: 30px;
  height: 30px;

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../i/i-rotate.svg") no-repeat center;
    background-size: 24px auto;
    transition: transform .25s;
  }

  &:hover{
    &:before{
      transform: scale(1.1);
    }
  }
}

.b-photos__link{
  position: absolute;
  left: 100px;
  top: 23px;
  color: #fff;
}

.b-comment{
  background: #fff;
  position: relative;
  margin-top: -1px;
  padding: 30px 0;
  display: none;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.05);

  .b-comment__error{
    float: right;
    vertical-align: top;
    width: 100%;
    text-align: right;
    line-height: $regularFLH;
    margin-top: 20px;
  }

  &.open{
    display: block;

    &+.b-notification{
      border-top: 1px solid $borderColor;
      margin-top: 0;
    }
  }

  .b-input__box{
    float: left;
    vertical-align: top;
    width: 60%;
    padding: 0;
    margin: 0;

    .b-input{
      font-size: 23px;
      border-bottom-color: transparent;

      &:focus{
        border-color: #000;
      }
    }
  }
  .b-comment__button{
    float: right;
    vertical-align: top;
    width: 40%;
    position: relative;
    padding-top: 3px;
  }

  .b-button{
    float: right;
    vertical-align: top;
  }

  .b-comment__del{
    float: right;
    vertical-align: top;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: rgba(0,0,0, .03) url("../i/i-del.svg") no-repeat center;
    background-size: 12px auto;
    transition: box-shadow .25s;
    margin-left: 25px;

    &:hover{
      box-shadow: 0 30px 30px rgba(0,0,0, .1);
    }
  }
}

.b-button-result{
  position: relative;
  border-top: 1px solid $borderColor;
  margin-top: 60px;
  padding-top: 57px;

  .b-button-result__deny{
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
  }

  .b-button{
    margin-right: 40px;
  }

  .b-button_grey{
    float: right;
    vertical-align: top;
    margin-right: 0;
    margin-top: 2px;
  }

  .b-button-result__error{
    margin-top: 20px;
  }
}

.b-popup__deny{


  .b-popup__top{
    padding-top: 90px;

    h3{
      color: $regularColor;
      font-size: 28px;
    }
  }
}

.b-deny{
  position: relative;
  width: 480px;
  margin: auto;
  padding-bottom: 140px;

  .b-button{
    margin-top: 35px;
    margin-bottom: 20px;
  }
}

.b-participants__section{
  position: relative;
  margin-top: 45px;
  h2{
    margin-bottom: 17px;
  }
}

.b-participants__list{
  position: relative;
}
.b-participants{
  position: relative;
  border-top: 1px solid transparent;
  transition: background .25s, border-top-color .25s;

  &:first-child{
    border-top: none;
  }

  &.open{
    background: rgba(0,0,0, .03);
    border-top-color: $borderColor;

    .b-participants__title{
      .b-wrapper{
        border-top-color: transparent !important;
        border-bottom-color: $borderColor;

        &:before{
          transform: translate(0, -50%) rotate(180deg);
        }
      }
    }

    &+.b-participants{
      .b-wrapper{
        border-top-color: transparent;
      }
    }
  }

  &:last-child{
    .b-participants__title{
      .b-wrapper{
        border-bottom: 1px solid $borderColor;
      }
    }
  }

  .b-participants__title{
    display: block;
    color: $regularColor;
    position: relative;

    .b-wrapper{
      padding: 22px 0;
      margin: 0 57px 0 54px;
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid transparent;
      transition: border-color .25s;

      &:before{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 23px;
        height: 13px;
        background: url("../i/i-dropdown-arrow.svg") no-repeat;
        background-size: 100% auto;
        transition: transform .25s;
      }
    }

    &:hover{
      color: $linkColor;
    }
  }

  .b-participants__title-type{
    float: left;
    vertical-align: top;
    width: 170px;
  }

  .b-participants__title-name{
    float: left;
    vertical-align: top;
    white-space: nowrap;
    opacity: .3;
  }

  .b-participants__item{
    margin-top: 24px;
    padding-bottom: 55px;

    .b-column__box{
      margin-top: 0;
    }
  }
}


.b-participants__item{
  display: none;
}

.b-column__pic{
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  margin-top: 9px;
  margin-bottom: 8px;
  height: 90px;
  width: auto;
}

.b-crash__more{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;

  span{
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%,-50%);
  }
}

.b-nav__wrapper{
  position: relative;
  margin-top: -1px;
  border-top: 1px solid #e7e7e7;
  z-index: 20;
  font-size: 18px;
  min-height: 75px;

  &.fixed{
    .b-nav{
      position: fixed;
      top: 0;
      left: 245px;
      right: 0;
      background: #fff;
      min-width: 955px;
      box-shadow: 0 15px 15px rgba(0,0,0, .05);
    }
    .b-nav__link{
      &:before{
        top: 0;
      }
    }
  }

  .b-nav{
    position: relative;
    background: transparent;
    transition: box-shadow .25s, left .5s, background .25s;
    backface-visibility: hidden;
  }

  .b-nav__item{
    float: left;
    vertical-align: top;
    margin-right: 55px;
  }

  .b-nav__link{
    display: block;
    color: $regularColor;
    padding: 22px 0;
    position: relative;

    &:hover{
      color: $linkColor;
    }

    &.active{
      color: rgba(0,0,0, .3);
      cursor: default;

      &:before{
        opacity: 1;
      }
    }

    &:before{
      content: "";
      position: absolute;
      left: -3px;
      right: -3px;
      top: -1px;
      height: 3px;
      background: $linkColor;
      transition: opacity .25s;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 1500px) {
  .b-document__box.crash{
    .b-document{
      width: 28.33%;
    }
  }
}